* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    overflow: hidden;
}
.sidebar {
    background-color:#56AEFF;
    position: fixed;
    height: 100vh;
    width: 25%;
    top: 0;
    right: -100%;
    z-index: 160;
    opacity: .95;
    transition: all .75s ease;
    overflow: hidden;
}

.sideBarContent
{
    background-color: rgb(179, 118, 118);
    padding: 3%;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}
.add{
    right: 0;
}
.activeClass {
    color: #ff6c56;
    text-decoration: underline;

  }